@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "silkscreen";
  src: url("/assets/font/Silkscreen-Regular.ttf");
}

@font-face {
  font-family: "command";
  src: url("/assets/font/windows_command_prompt.ttf");
}

@font-face {
  font-family: "upheavtt";
  src: url("/assets/font/upheavtt.ttf");
}

@font-face {
  font-family: "pixelifySans";
  src: url("/assets/font/PixelifySans.ttf");
}

/* Circles */
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.circle-1 {
  background: conic-gradient(from 0deg, #ffee00 70%, #54b4d3 30%);
}
.circle-2 {
  background: conic-gradient(from 90deg, #54b4d3 85%, #ffee00 15%);
}
.circle-3 {
  background: conic-gradient(from 90deg, #54b4d3 92.5%, #ffee00 7.5%);
}
.circle-4 {
  background: conic-gradient(from 90deg, #54b4d3 92.5%, #ffee00 7.5%);
}
